.main {
    width: 100%;
    min-height: 100vh;
    /* Минимальная высота, чтобы футер не перекрывал контент */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Чтобы футер был внизу */
}