.technology {
    padding-top: 60px;
}

.technologyHeaderBlock {
    border-bottom: 1px solid #2c2c2c;
    margin-bottom: 110px;
}

.technologyHeader {
    font-family: Literata;
    font-weight: 500;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 0%;
    color: #2c2c2c;
    padding-bottom: 40px;
}

.technologyTextBlock {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 70px;
}

.technologyTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 8px;
    border-bottom: 1px solid #2c2c2c;
    max-width: fit-content;
    color: #2c2c2c;
}

.technologyDescription {
    max-width: 1194px;
}

.technologyDescriptionTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    color: #2c2c2c;
    margin-bottom: 40px;
}

.technologyDescriptionText {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2c2c2c;
}

.technologyCards {
    padding-bottom: 130px;
    border-bottom: 1px solid #BBC5D6;
    display: grid;
    grid-template-columns: 1fr 1fr 680px;
    list-style-type: none;
    gap: 20px;
}

.technologyCards2 {
    display: none;
}

.technologyCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.technologyCardAdvanced {
    background: #084927;
    border-radius: 20px;
    padding: 65px 40px;
}

.technologyCardContent {
    display: grid;
    grid-template-columns: 342px 258px;
}

.technologyCardContent:nth-child(1) {
    border-bottom: 1px solid #FFFFFF33
}

.technologyCardContent:nth-child(1) .technologyCardNumber {
    padding-top: 10px;
    padding-bottom: 63px;
}

.technologyCardContent:nth-child(2) .technologyCardNumber {
    padding-top: 55px;
    padding-bottom: 18px;
}

.technologyCardContent:nth-child(1) .technologyCardText {
    padding-top: 18px;
}

.technologyCardContent:nth-child(2) .technologyCardText {
    padding-top: 57px;
    padding-bottom: 10px;
}

.technologyCardNumber {
    font-family: Literata;
    font-weight: 500;
    font-size: 82px;
    line-height: 82px;
    letter-spacing: 0%;
    color: white;
}

.technologyCardNumber span {
    display: none;
}

.technologyCardText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding-left: 40px;
    border-left: 1px solid #FFFFFF33;
}

.technologyCardText span {
    background-color: white;
    padding: 0 10px 6px;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #159F4A;
}

.technologyCardDescription {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
}

.technologyCardSubtext {
    display: none;
}

@media (max-width: 1919px) {
    .technologyTextBlock {
        gap: 254px;
    }
}

@media (max-width: 1439px) {
    .technologyHeader {
        font-size: 100px;
        line-height: 100px;
    }

    .technologyHeaderBlock {
        margin-bottom: 90px;
    }

    .technologyDescriptionTitle {
        font-size: 36px;
        line-height: 46px;
    }

    .technologyCards {
        display: none;
        padding-bottom: 0;
        border-bottom: none;
    }

    .technologyCards2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .technologyDescriptionText {
        margin-bottom: 50px;
    }

    .technologyCardAdvanced {
        grid-column: 1 / 3;
    }

    .technologyTextBlock {
        margin-bottom: 0;
        padding-bottom: 110px;
        border-bottom: 1px solid #BBC5D6;
    }

    .technologyCardNumber {
        font-size: 72px;
        line-height: 72px;
    }
}

@media (max-width: 999px) {
    .technologyHeader {
        font-size: 80px;
        line-height: 80px;
    }

    .technologyTextBlock {
        flex-direction: column;
        gap: 20px;
    }

    .technologyDescriptionTitle {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .technologyDescriptionText {
        font-size: 16px;
        line-height: 24px;
    }

    .technologyTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .technologyCardNumber {
        font-size: 56px;
        line-height: 56px;
    }
}

@media (max-width: 767px) {

    .technology {
        padding-top: 40px;
    }

    .technologyHeader {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;
    }

    .technologyHeaderBlock {
        margin-bottom: 50px;
    }

    .technologyDescriptionTitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .technologyTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .technologyTextBlock {
        padding-bottom: 50px;
    }

    .technologyCardSubtext {
        display: flex;
        font-family: Literata;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: white;
        grid-column: 1 / 3;
    }

    .technologyCardAdvanced {
        padding: 30px 20px;
    }

    .technologyCardDescription {
        display: none;
    }

    .technologyCardContent {
        grid-template-columns: auto 1fr;
        gap: 30px 10px;
    }

    .technologyCardContent:nth-child(1) {
        padding-bottom: 30px;
    }

    .technologyCardContent:nth-child(1) .technologyCardNumber,
    .technologyCardContent:nth-child(2) .technologyCardNumber {
        padding: 0;
    }

    .technologyCardContent:nth-child(1) .technologyCardText,
    .technologyCardContent:nth-child(2) .technologyCardText {
        padding: 0;
    }

    .technologyCardContent:nth-child(2) {
        padding-top: 20px;
    }

    .technologyCardText {
        border-left: none;
        justify-content: end;
    }
}

/* STEPS */

.stepsContent {
    padding-top: 110px;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid #BBC5D6;
    margin-bottom: 130px;
}

.stepsTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #2C2C2C;
    padding-bottom: 8px;
    border-bottom: 1px solid #2C2C2C;
    max-width: fit-content;
}

.stepsLeft {
    max-width: 1194px;
    width: 100%;
}

.stepsSubtitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    color: #2C2C2C;
    margin-bottom: 70px;
}

.stepsList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
}

.stepsListItem {
    border-bottom: 1px solid #BBC5D6;
    padding-bottom: 32px;
}

.stepsListItem:last-child {
    padding-bottom: 0;
    border-bottom: none;
}


.stepsListItemUp {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.stepsListItemNumber {
    font-family: Literata;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: white;
    padding: 2px 8px 6px;
    background-color: #084927;
}

.stepsListItemTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: white;
    padding: 2px 8px 6px;
    background-color: #159F4A;
}

.stepsListItemDescription {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2C2C2C;
}

@media (max-width: 1920px) {
    .stepsContent {
        gap: 254px;
    }
}

@media (max-width: 1439px) {
    .stepsSubtitle {
        max-width: 874px;
    }

    .stepsContent {
        gap: 20px;
        flex-direction: column;
        padding-top: 90px;
        padding-bottom: 110px;
    }

    .stepsLeft {
        max-width: 100%;
    }

    .stepsSubtitle {
        margin-bottom: 50px;
        max-width: 100%;
        font-size: 36px;
        line-height: 46px;
    }
}

@media (max-width: 999px) {

    .stepsTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .stepsSubtitle {
        font-size: 30px;
        line-height: 40px;
    }

    .stepsListItemTitle {
        font-size: 24px;
        line-height: 34px;
    }

    .stepsListItemDescription {
        font-size: 16px;
        line-height: 24px;
    }

    .stepsContent {
        padding-top: 90px;
        padding-bottom: 110px;
    }
}

@media (max-width: 767px) {
    .stepsContent {
        padding-top: 50px;
        padding-bottom: 70px;
        margin-bottom: 70px;
    }

    .stepsSubtitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .stepsListItemTitle {
        font-size: 20px;
        line-height: 28px;
    }

    .stepsList {
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .stepsListItem {
        flex-direction: column;
        display: flex;
        padding-bottom: 28px;
    }

    .stepsListItemUp {
        margin-bottom: 10px;
    }
}

/* QUALITY */

.quality {
    padding-top: 110px;
    background: #084927;
    color: #FFFFFF;
    padding-bottom: 130px;
    margin-bottom: 130px;
}

.qualityHeaderBlock {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.qualityHeaderBottomBlock {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 414px;
}

.qualityHeaderTitle {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 8px;
    border-bottom: 1px solid #FFFFFF;
    max-width: fit-content;
    white-space: nowrap;
}

.qualityHeaderInfo {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    max-width: 955px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.qualityCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 340px);
    gap: 20px;
}

.qualitySwiper {
    width: 100%;
    padding-bottom: 20px;
}

.qualityCard {
    background-color: #159F4A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 30px;
    gap: 30px;
    height: 100%;
}

.qualityCard:nth-child(1),
.qualityCard:nth-child(4) {
    background-color: transparent;
    border: 1px solid #159F4A;
}

.qualityCardUp {
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}

.qualityIcon {
    max-width: 50px;
    height: auto;
}

.qualityText {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
    color: white;
    text-align: left;
}

.qualityDescription {
    font-family: 'Literata', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    text-align: left;
}

@media (max-width: 1920px) {
    .qualityHeaderBottomBlock {
        gap: 254px;
    }

    .qualityCardsContainer {
        grid-template-rows: repeat(2, 1fr);
    }
}

/* Адаптивность для #quality */
@media (max-width: 1439px) and (min-width: 1000px) {
    .quality {
        padding-top: 90px;
        padding-bottom: 110px;
        margin-bottom: 110px;
    }

    .qualityCardsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 280px);
    }

    .qualityHeaderInfo {
        font-size: 36px;
        line-height: 46px;
    }

    .qualityHeaderBottomBlock {
        flex-direction: column;
        gap: 0;
    }

    .qualityHeaderTitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 999px) and (min-width: 768px) {
    .quality {
        margin-bottom: 110px;
        padding-bottom: 110px;
        padding-top: 90px;
    }

    .qualityHeaderInfo {
        font-size: 30px;
        line-height: 40px;
    }

    .qualityText {
        font-size: 24px;
        line-height: 34px;
    }

    .qualityCardsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 280px);
    }

    .qualityCardUp {
        gap: 20px;
    }

    .qualityIcon {
        max-width: 36px;
    }

    .qualityHeaderBottomBlock {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .quality {
        padding-top: 50px;
        padding-bottom: 70px;
        margin-bottom: 70px;
    }

    .qualityHeaderBlock {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 30px;
    }

    .qualityHeaderBottomBlock {
        flex-direction: column;
        gap: 20px;
    }

    .qualityHeaderInfo {
        font-size: 24px;
        line-height: 32px;
    }

    .qualityHeaderTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .qualityCardsContainer {
        padding-bottom: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
    }

    .qualityCard {
        padding: 20px;
        height: 100%;
        min-height: clamp(300px, 280px, 340px);
    }

    .qualityText {
        font-size: 18px;
        line-height: 24px;
    }

    .qualityDescription {
        font-size: 14px;
        line-height: 20px;
    }

    .qualityCardUp {
        gap: 10px;
    }

    .qualityIcon {
        max-width: 30px;
    }

}

/* PRODUCTION */

.productionVideoContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    max-height: 100vh;
}

.productionVideo {
    border-radius: 20px;
    overflow: hidden;
}

.customPlayButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customPlayButton svg {
    width: 100%;
    height: 100%;
}

.posterContainer {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    max-height: 100vh;
    height: 100vh;
}

.videoPoster {
    width: 100%;
    height: auto;
    display: block;
    height: 100vh;
    object-fit: cover;
}

.posterLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2C2C2C4D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customPlayButton {
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.playButtonCircle {
    transition: fill-opacity 0.2s ease;
}

.playButtonTriangle {
    transition: fill 0.2s ease;
}

@media (max-width: 999px) and (min-width: 768px) {
    .productionVideoContainer {
        height: 100vh;
    }
}

@media (max-width: 767px) {

    .productionVideoContainer {
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .customPlayButton {
        width: 100px;
        height: 100px;
    }

}

/* PACK */

.pack {}

.packHeading {
    padding-top: 110px;
    border-top: 1px solid #BBC5D6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
}

.packTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 8px;
    border-bottom: 1px solid #2C2C2C;
    color: #2C2C2C;
    text-align: center;
    max-width: fit-content;
}

.packInfo {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    color: #2C2C2C;
    max-width: 1210px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.packContent {
    min-height: 844px;
    position: relative;
    padding-bottom: 84px;
    border-bottom: 1px solid #BBC5D6;
}

.packBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.packInfoBar1 {
    position: absolute;
    z-index: 2;
    top: 114px;
    left: 110px;
    max-width: 608px;
    width: 100%;
    display: flex;
    max-height: 309px;
    height: 100%;
}

.packInfoBarInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

.packInfoNumber {
    background-color: #159F4A;
    color: white;
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    z-index: 2;
}

.packInfoCard {
    z-index: 2;
    background-color: #fff;
}

.packInfoBar1 .packInfoNumber {
    position: absolute;
    right: 0;
    top: 0;
}

.packInfoBar1 .packInfoLine {
    position: absolute;
    right: 64px;
    top: 30px;
}

.packInfoBar2 {
    position: absolute;
    z-index: 2;
    top: 90px;
    right: 123px;
    max-width: 513px;
    width: 100%;
    display: flex;
    max-height: 306px;
    height: 100%;
    align-items: start;
}

.packInfoBar2 .packInfoNumber {
    position: absolute;
    left: 0;
    bottom: 0;
}

.packInfoBar2 .packInfoLine {
    position: absolute;
    left: 64px;
    bottom: 23px;
}

.packInfoBar2 .packInfoBarInner {
    justify-content: start;
    align-items: end;
}

.packInfoBar3 {
    position: absolute;
    z-index: 2;
    bottom: 46px;
    right: 188px;
    max-width: 612px;
    width: 100%;
    display: flex;
    max-height: 156px;
    height: 100%;
    align-items: start;
}

.packInfoBar3 .packInfoBarInner {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.packInfoBar3 .packInfoLine {
    position: absolute;
    left: 64px;
    bottom: 65px;
}

.packInfoBar3 .packInfoNumber {
    position: absolute;
    left: 0;
    bottom: 38px;
}

.packInfoBar3 .packInfoCard {
    max-width: 400px;
    width: 100%;
}

.packInfoCard {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #BBC5D6;
    max-width: 440px;
}

.packInfoCardTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
    color: #2C2C2C;
    margin-bottom: 40px;
}

.packInfoCardInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #2C2C2C;
}

.packCards {
    display: none;
}

@media (max-width: 1919px) {
    .packInfoBar3 {
        right: 60px;
    }

    .packInfoBar2 {
        top: 90px;
        right: 3px;

    }

    .packInfoBar1 {
        top: 114px;
        left: 0px;

    }

    .packHeading {
        padding-top: 90px;
    }

    .packInfo {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 60px;
    }
}

@media (max-width: 1439px) {
    .packInfoBar3 {
        right: 60px;
    }

    .packInfoBar2 {
        max-width: 324px;
        width: 100%;
        max-height: 248px;
        height: 100%;
    }

    .packInfoBar1 {
        max-width: 364px;
        width: 100%;
        max-height: 248px;
        height: 100%;
    }

    .packInfoCardTitle {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .packInfoCard {
        padding: 20px;
    }

    .packInfoBar2 .packInfoCard {
        max-width: 264px;
    }

    .packInfoBar2 .packInfoLine {
        right: 20px;
        left: 0;
    }

    .packInfoBar3 {
        max-width: 420px;
    }

    .packInfoBar3 .packInfoCard {
        max-width: 264px;
    }
}

@media (max-width: 999px) {
    .packTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .packInfo {
        font-size: 30px;
        line-height: 40px;
    }

    .packBg {
        width: 70%;
        height: 70%;
        margin: auto;
    }

    .packInfoNumber {
        width: 36px;
        height: 36px;
        font-size: 16px;
        line-height: 24px;
    }

    .packInfoBar1 {
        max-width: 300px;
        max-height: 280px;
    }

    .packInfoBar1 .packInfoLine {
        right: 0;
        top: 15px;
    }

    .packInfoBar1 .packInfoCard {
        max-width: 210px;
    }

    .packInfoBar2 {
        max-width: 275px;
        max-height: 232px;
    }

    .packInfoBar2 .packInfoLine {
        left: 0;
        right: 10px;
        bottom: 15px;
    }

    .packInfoBar3 {
        max-width: 351px;
        max-height: 136px;
    }

    .packInfoBar3 .packInfoCard {
        max-width: 255px;
    }

    .packInfoBar3 .packInfoLine {
        left: 0;
        bottom: 65px;
    }

    .packInfoBar3 .packInfoNumber {
        left: 0;
        bottom: 45px;
    }
}

@media (max-width: 767px) {

    .packInfoBar1,
    .packInfoBar2,
    .packInfoBar3 {
        display: none;
    }

    .packHeading {
        padding-top: 50px;
        align-items: start;
        justify-content: start;
    }

    .packInfo {
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        margin-bottom: 30px;
    }

    .packBg {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        object-fit: cover;
    }

    .packCards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;
        padding-bottom: 70px;
        border-bottom: 1px solid #BBC5D6;
    }

    .packInfoCard {
        max-width: 100%;
    }

    .packContent {
        min-height: 360px;
        border-bottom: none;
        padding-bottom: 70px;
    }
}

/* STM */

.stm {}

.stmHeading {
    padding-top: 110px;
    color: #2C2C2C;
    margin-bottom: 70px;
}

.stmTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    max-width: fit-content;
    margin-bottom: 20px;
}

.stmSubTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    max-width: 1210px;
}

.stmCards {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.stmCard {
    padding: 30px;
    border-radius: 20px;
    background: #F1F3F5;
}

.stmCardNumber {
    font-family: Literata;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: white;
    background-color: #2C2C2C;
    padding: 4px 16px 6px;
    max-width: fit-content;
    margin-bottom: 20px;
}

.stmCardInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2C2C2C;
}

.stmBanner {
    background: #159F4A;
    border-radius: 20px;
    padding: 100px 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;

}

.stmBannerLogos {
    list-style-type: none;
    display: flex;
    margin-bottom: 40px;
}

.stmBannerLogo:last-child {
    width: 60px;
    height: 60px;
    background-color: white;
}

.stmBannerLogo {
    border-radius: 100%;
    overflow: hidden;
}

.stmBannerLogo:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stmBannerTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    max-width: 900px;
}

.stmBannerBtn {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    background-color: #2C2C2C;
    padding: 12px 24px 16px;
    border: none;
    border-radius: 8px;
}

@media (max-width: 1439px) {
    .stmHeading {
        padding-top: 70px;
        margin-bottom: 50px;
    }

    .stmSubTitle {
        font-size: 36px;
        line-height: 46px;
    }

    .stmCards {
        grid-template-columns: repeat(6, 1fr);
    }

    .stmCard {
        grid-column: 1 / 3;
    }

    .stmCard:nth-child(2) {
        grid-column: 3 / 5;
    }

    .stmCard:nth-child(3) {
        grid-column: 5 / 7;
    }

    .stmCard:nth-child(4) {
        grid-column: 1 / 4;
    }

    .stmCard:nth-child(5) {
        grid-column: 4 / 7;
    }

}

@media (max-width: 999px) {
    .stmTitle {
        font-size: 16px;
        line-height: 24px;
    }

    .stmSubTitle {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width:767px) {
    .stmCard {
        min-height: 180px;
    }

    .stmBanner {
        margin-top: 30px;
        padding: 32px 20px;
        margin-bottom: 0;
    }

    .stmBannerLogos {
        margin-bottom: 30px;
    }

    .stmBannerTitle {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;
    }

    .stmSubTitle {
        font-size: 24px;
        line-height: 32px;
    }

    .stmHeading {
        margin-bottom: 30px;
    }

    .stm .container:nth-child(2) {
        padding: 0;
        padding-bottom: 70px;
    }
}

/* PARTNERS */
.partnersHeading {
    padding-top: 110px;
    border-top: 1px solid #BBC5D6;
}

.partnersHeading {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 130px;
}

.partnersTitle {
    color: #2C2C2C;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    max-width: fit-content;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;

}

.partnersRight {
    max-width: 1194px;
}

.partnersSubtitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    color: #2C2C2C;
    margin-bottom: 40px;
}

.partnersInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2C2C2C;
}

.partners .container:nth-child(2) {
    padding-bottom: 130px;
}

.partnersForm {
    padding-bottom: 130px;
    background: #084927;
    border-radius: 20px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.partnersFormLeft {
    max-width: 550px;
    color: white;
}

.partnersFormTitle {
    margin-bottom: 40px;
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
}

.partnersFormInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

.partnersFormRight {
    max-width: 680px;
    border-radius: 20px;
    background-color: white;
    padding: 40px;
}

.partnersFormRightUp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 32px;
}

.partnersInput {
    grid-column: 1 / 3;
    border: 1px solid #BBC5D6;
    border-radius: 8px;
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 12px 16px 16px;
}

.partnersInput:nth-child(3) {
    grid-column: 1 / 2;
}

.partnersInput:nth-child(4) {
    grid-column: 2 / 3;
}

.partnersFormSubmit {
    background: #159F4A;
    border-radius: 8px;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    padding: 12px 24px 16px;
    border: none;
    margin-bottom: 16px;
}

.partnersPolicy {
    font-family: Literata;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;

}

.partnersPolicy a {
    color: #159F4A;
    text-decoration: underline;
}

@media (max-width: 1919px) {
    .partnersHeading {
        gap: 262px;
    }

    .partnersTitle {
        white-space: nowrap;
    }

    .partnersForm {
        gap: 40px;
    }
}

@media (max-width: 1439px) {
    .partnersHeading {
        padding-top: 90px;
        margin-bottom: 110px;
    }

    .partnersSubtitle,
    .partnersFormTitle {
        font-size: 36px;
        line-height: 46px;
    }

    .partnersForm {
        flex-direction: column;
        gap: 60px;
    }

    .partnersFormLeft,
    .partnersFormRight {
        max-width: 100%;
    }

    .partners .container:nth-child(2) {
        padding-bottom: 110px;
    }
}

@media (max-width: 999px) {
    .partnersHeading {
        gap: 20px;
        flex-direction: column;
    }

    .partnersSubtitle,
    .partnersFormTitle {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 40px;
    }

    .partnersInfo,
    .partnersFormInfo {
        font-size: 16px;
        line-height: 24px;
    }

    .partnersForm {
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .partnersHeading {
        padding-top: 50px;
        margin-bottom: 70px;
    }

    .partnersSubtitle,
    .partnersFormTitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .partners .container:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 70px;
    }

    .partnersForm {
        gap: 40px;
        padding: 20px 10px;
    }

    .partnersFormRight {
        padding: 20px;
    }

    .partnersFormRightUp {
        grid-template-columns: 1fr;

    }

    .partnersInput,
    .partnersInput:nth-child(4) {
        grid-column: 1 / 2;
    }

    .partnersFormSubmit {
        width: 100%;
    }
}

/* PREFOOTER */

.preFooter {
    padding-bottom: 130px;
}


.preFooterWrapper {
    padding-top: 130px;
    padding-bottom: 130px;
    border-top: 1px solid #BBC5D6;
    border-bottom: 1px solid #BBC5D6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.preFooterPartnerCard {
    background: #159F4A;
    border: 1px solid #BBC5D6;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    overflow: hidden;
    min-height: 330px;
}

.preFooterTopText {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    width: fit-content;
    z-index: 1;
}

.preFooterTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    vertical-align: bottom;
}

.preFooterLink {
    align-items: end;
}

.preFooterPhoto {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Медиа-запросы */
@media (max-width: 1439px) {
    .preFooterPhoto {
        display: none;
    }

    .preFooterWrapper {
        grid-template-columns: 1fr;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .preFooterTitle {
        font-size: 36px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {
    .preFooterPhoto {
        display: flex;
        height: 100%;
    }

    .preFooterWrapper {
        gap: 10px;
        grid-template-rows: repeat(2, 1fr);
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .preFooterPartnerCard {
        min-height: 200px;
        padding: 20px;
    }

    .ripple {
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        z-index: 1;
        width: 40px;
        height: 40px;
    }
}

/* CLIENTS (дополнение) */
.partnerCard {
    background: #fff;
    border: 1px solid #BBC5D6;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: relative;
    overflow: hidden;
}

.partnerLink {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 2;
}

.arrowContainer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    width: 60px;
    height: 60px;
}