.clientsHeader {
    padding: 104px 0 0px;
}

.clientsHeaderHeading {
    font-family: Literata;
    font-weight: 500;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 0%;
    color: #2C2C2C;
    padding-bottom: 40px;
    border-bottom: 1px solid #2C2C2C;
    margin-bottom: 110px;
}

.clientsHeaderBottomText {
    display: flex;
    align-items: start;
    padding-bottom: 110px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.clientsHeaderTextTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    border-bottom: 1px solid #2C2C2C;
    padding-bottom: 8px;
    max-width: fit-content;
    white-space: nowrap;
}

.clientsHeaderBottomBlock {
    max-width: 1194px;
    grid-column: 2 / 4;
}

.clientsHeaderTextInfo {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    color: #2C2C2C;
    margin-bottom: 40px;
}

.clientsHeaderTextDescription {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2C2C2C;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 40px;
}

.clientsHeaderButton {
    padding: 12px 24px 16px;
    color: white;
    background-color: #159F4A;
    border-radius: 8px;
    border: none;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.cardsContainerBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px;
    gap: 20px;
    grid-template-areas:
        "card1 card1 card2 card2"
        "card1 card1 card3 card3";
}

.cardBlock {
    padding: 30px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cardBlock>div {
    height: 100%;
}

.cardBlock:nth-child(1) {
    grid-area: card1;
    background: #159F4A;
    color: #fff;
    justify-content: space-between;
}

.cardBlock:nth-child(2) {
    grid-area: card2;
    background: #F1F3F5;
    color: #2C2C2C;
    justify-content: space-between;
}

.cardBlock:nth-child(3) {
    grid-area: card3;
    background: #F1F3F5;
    color: #2C2C2C;
    justify-content: space-between;
}

.cardBackgroundImage {
    overflow: hidden;
    border-radius: 20px;
}

.cardNumberWrapperBlock {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.cardNumberText {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 82px;
    line-height: 82px;
    letter-spacing: 0%;
}

.cardUnitText {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 0 10px 6px;
}

.cardBlock:nth-child(1) .cardUnitText {
    background-color: white;
    color: #159F4A;
}

.cardBlock:nth-child(2) .cardUnitText,
.cardBlock:nth-child(3) .cardUnitText {
    background-color: #2C2C2C;
    color: white;
}

.cardDescriptionText {
    font-family: 'Literata', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: bottom;
}

.cardImage,
.cardBackgroundImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.cardImage {
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: space-between;
}

.cardBackgroundImage {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.contactForm {
    max-width: 1216px;
    display: grid;
    grid-template-columns: 608px 608px;
}

.contactFormLeft {
    background: #084927;
    padding: 60px;
    border-radius: 20px;
    color: white;
    position: relative;
    overflow: hidden;
}

.contactFormTitle {
    margin-bottom: 20px;
    font-family: Literata;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
}

.contactFormImage {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}

.contactFormInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

.contactFormRight {
    border-radius: 20px;
    background-color: white;
    padding: 60px;
}

.contactFormRightUp {
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
}

.clientsInput {
    grid-column: 1 / 2;
    border: 1px solid #BBC5D6;
    border-radius: 8px;
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 12px 16px 16px;
}

.clientsInput:nth-child(3) {
    grid-column: 1 / 2;
}

.clientsInput:nth-child(4) {
    grid-column: 1 / 2;
}

.contactFormSubmit {
    background: #159F4A;
    border-radius: 8px;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    padding: 12px 24px 16px;
    border: none;
    margin-bottom: 16px;
}

.partnersPolicy {
    font-family: Literata;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
}

.partnersPolicy a {
    color: #159F4A;
    text-decoration: underline;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    max-width: 1216px;
    width: 100%;
    max-height: 90vh;
    border-radius: 20px;
}

.closeButton {
    position: absolute;
    top: 0px;
    width: 40px;
    height: 40px;
    right: -40px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.successModalContent {
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 90vh;
    text-align: center;
}

.successModal {
    background-color: #084927;
    padding: 60px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

}

.successModalImage {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}

.successModalInner {
    border-radius: 20px;
    background: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successModalTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2C2C2C;
    margin-top: 10px;
    margin-bottom: 20px;
}

.successModalInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2C2C2C;
    margin-bottom: 20px;
    text-align: left;
}

.successModalInfo span a {
    color: #159F4A;
}

.successModalInfo:last-child {
    margin-bottom: 0;
}

@media (max-width: 1439px) {

    .clientsHeaderHeading {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 90px;
    }

    .clientsHeader {
        padding: 64px 0 0px;
    }

    .clientsHeaderBottomBlock {
        max-width: 874px;
    }

    .clientsHeaderBottomText {
        margin-top: 90px;
        padding-bottom: 90px;
    }

    .clientsHeaderTitle {
        font-size: 100px;
        line-height: 100px;
    }

    .clientsHeaderTextInfo {
        font-size: 36px;
        line-height: 46px;
    }

    .clientsHeader {
        padding: 64px 0 0px;
    }

    .clientsHeaderCardItem,
    .swiper-slide {
        min-height: 333px;
        height: 100%;
    }

    .cardNumberText {
        font-size: 72px;
    }

    .cardsContainerBlock {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 220px;
        grid-template-areas:
            "card1 card1"
            "card2 card3"
    }

    .numbersBlock {
        padding: 60px 0 110px;
    }

    .cardImage {
        max-width: 300px;
        max-height: 267px;
    }

    .contactForm {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;

    }

    .modalContent,
    .successModalContent {
        max-width: 100%;
        width: 100%;
        padding: 0 60px;
    }

    .closeButton {
        right: 15px;
    }

    .contactFormLeft {
        padding: 40px;
    }

    .contactFormRight {
        padding: 40px;
    }

    .contactFormTitle,
    .successModalTitle {
        font-size: 28px;
        line-height: 34px;
    }

    .successModalTitle {
        margin-bottom: 32px;
    }
}

@media (max-width: 999px) {
    .clientsHeader {
        padding: 96px 0 0px;
    }

    .clientsHeaderHeading {
        font-size: 80px;
        line-height: 80px;
    }

    .clientsHeaderBottomBlock {
        max-width: 100%;
    }

    .clientsHeaderBottomText {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .clientsHeaderTextInfo {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 40px;
    }

    .clientsHeaderTextDescription {
        gap: 20px;
        font-size: 16px;
        line-height: 24px;
    }

    .clientsHeaderTextTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .cardNumberText {
        font-size: 56px;
    }

    .cardImage {
        max-width: 265px;
        max-height: 236px;
    }

    .cardUnitText {
        font-size: 16px;
        line-height: 22px;
        padding: 0 10px 4px;
    }

    .clientsHeaderTextDescription {
        margin-bottom: 30px;
    }

    .contactForm {
        grid-template-columns: 1fr;
    }

    .contactFormLeft {
        border-radius: 20px 20px 0 0;
        background-color: white;
        padding-bottom: 0;
    }

    .contactFormRight {
        border-radius: 0 0 20px 20px;
    }

    .contactFormTitle,
    .contactFormInfo {
        color: #2C2C2C;
    }

    .successModal {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .clientsHeaderHeading {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }

    .clientsHeader {
        padding: 96px 0 0px;
    }

    .clientsHeaderTextInfo {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .clientsHeaderBottomText {
        padding-bottom: 50px;
        margin-top: 0;
    }

    .clientsHeaderTextDescription {
        margin-bottom: 20px;
    }

    .clientsHeaderButton {
        width: 100%;
    }

    .cardsContainerBlock {
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-rows: 300px 180px 180px;
        grid-template-areas:
            "card1"
            "card2"
            "card3";
    }

    .cardImage {
        max-width: 200px;
        max-height: 189px;
    }

    .cardNumberText {
        font-size: 50px;
        line-height: 50px;
    }

    .cardBlock {
        padding: 20px;
    }

    .numbersHeaderLink2 {
        display: block;
    }

    .numbersBlock {
        padding: 40px 0 50px;
    }

    .cardUnitText {
        font-size: 16px;
        line-height: 22px;
        padding: 0 10px 4px;
    }

    .modalContent,
    .successModalContent {
        padding: 0;
        max-height: fit-content;
    }

    .closeButton {
        right: 0;
        top: -50px;
        right: 20px;
    }

    .contactFormLeft {
        padding: 20px;
        padding-bottom: 0;
    }

    .contactFormRight {
        padding: 20px;
    }

    .contactFormTitle,
    .successModalTitle {
        font-size: 24px;
        line-height: 32px;
    }

    .contactFormInfo,
    .successModalInfo {
        font-size: 16px;
        line-height: 22px;
    }

    .clientsInput {
        font-size: 16px;
        line-height: 22px;
    }

    .contactFormSubmit {
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }

    .successModalInner {
        padding: 20px;
    }
}

/* FOOD */

.foodUp {
    padding-top: 110px;
    border-top: 1px solid #BBC5D6;
    margin-bottom: 70px;
    color: #2C2C2C;
}

.foodTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 8px;
    border-bottom: 1px solid #2C2C2C;
    margin-bottom: 20px;
    max-width: fit-content;
}

.foodSubtitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}

.foodInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

.foodCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-rows: repeat(2, 330px);
    padding-bottom: 130px;
    border-bottom: 1px solid #BBC5D6;
    margin-bottom: 130px;
    list-style-type: none;
}

.foodCard {
    background: #F1F3F5;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.foodCardImg {
    position: absolute;
    right: 0;
    top: 0;
}

.foodCardTitle {
    max-width: 290px;
    font-family: Literata;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
    color: #2C2C2C;
    z-index: 2;
}

.foodCardInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #2C2C2C;
}

@media (max-width: 1439px) {
    .foodUp {
        padding-top: 90px;
        margin-bottom: 50px;
    }

    .foodSubtitle {
        font-size: 36px;
        line-height: 46px;
    }

    .foodCards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 330px);
        padding-bottom: 110px;
        margin-bottom: 110px;
    }
}

@media (max-width: 999px) {

    .foodTitle,
    .foodInfo,
    .foodCardInfo {
        font-size: 16px;
        line-height: 24px;
    }

    .foodCard {
        justify-content: end;
        gap: 20px;
    }

    .foodSubtitle {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .foodCardImg {
        max-width: 180px;
        max-height: 160px;
    }

}

@media (max-width: 767px) {
    .foodUp {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .foodSubtitle {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 32px;
    }

    .foodCard {
        padding: 20px;
        height: 330px;
        margin-bottom: 70px;
    }

    .foodCardTitle {
        font-size: 24px;
        line-height: 32px;
    }

    .foodCards {
        margin-bottom: 70px;
    }

    .foodCards {
        overflow: visible !important;
    }
}

/* QUALITY */

.quality {
    padding-top: 110px;
    background: #084927;
    color: #FFFFFF;
    padding-bottom: 130px;
    margin-bottom: 130px;
}

.qualityHeaderBlock {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.qualityHeaderBottomBlock {
    display: flex;
    justify-content: start;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.qualityRight {
    grid-column: 2 / 4
}

.qualityHeaderTitle {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 8px;
    border-bottom: 1px solid #FFFFFF;
    max-width: fit-content;
    white-space: nowrap;
}

.qualityHeaderInfo {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    max-width: 955px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.qualityCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 340px);
    gap: 20px;
}

.qualitySwiper {
    width: 100%;
    padding-bottom: 20px;
}

.qualityCard {
    background-color: #159F4A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 30px;
    gap: 30px;
    height: 100%;
}

.qualityCard:nth-child(1),
.qualityCard:nth-child(4) {
    background-color: transparent;
    border: 1px solid #159F4A;
}

.qualityCardUp {
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}

.qualityIcon {
    max-width: 50px;
    height: auto;
}

.qualityText {
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
    color: white;
    text-align: left;
}

.qualityDescription {
    font-family: 'Literata', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    text-align: left;
}

@media (max-width: 1920px) {

    .qualityCardsContainer {
        grid-template-rows: repeat(2, 340px);
    }
}

/* Адаптивность для #quality */
@media (max-width: 1439px) and (min-width: 1000px) {
    .quality {
        padding-top: 90px;
        padding-bottom: 110px;
        margin-bottom: 110px;
    }

    .qualityCardsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 280px);
    }

    .qualityHeaderInfo {
        font-size: 36px;
        line-height: 46px;
    }

    .qualityHeaderBottomBlock {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .qualityHeaderTitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 999px) and (min-width: 768px) {
    .quality {
        margin-bottom: 110px;
        padding-bottom: 110px;
        padding-top: 90px;
    }

    .qualityHeaderInfo {
        font-size: 30px;
        line-height: 40px;
    }

    .qualityText {
        font-size: 24px;
        line-height: 34px;
    }

    .qualityCardsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 280px);
    }

    .qualityCardUp {
        gap: 20px;
    }

    .qualityIcon {
        max-width: 36px;
    }

    .qualityHeaderBottomBlock {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .quality {
        padding-top: 50px;
        padding-bottom: 70px;
        margin-bottom: 70px;
    }

    .qualityHeaderBlock {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .qualityHeaderBottomBlock {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .qualityHeaderInfo {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .qualityHeaderTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .qualityCardsContainer {
        padding-bottom: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
    }

    .qualityCard {
        padding: 20px;
        height: 100%;
        min-height: clamp(300px, 280px, 340px);
    }

    .qualityText {
        font-size: 18px;
        line-height: 24px;
    }

    .qualityDescription {
        font-size: 14px;
        line-height: 20px;
    }

    .qualityCardUp {
        gap: 10px;
    }

    .qualityIcon {
        max-width: 30px;
    }

    .qualitySwiper {
        overflow: visible !important;
    }

    .qualityCardsContainer {
        width: 100%;
        display: block;
        max-width: calc(100vw - 40px);
    }
}

/* PARTNERS */
.partnersHeading {
    padding-top: 110px;
    border-top: 1px solid #BBC5D6;
}

.partnersHeading {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 130px;
}

.partnersTitle {
    color: #2C2C2C;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    max-width: fit-content;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.partnersRight {
    max-width: 1194px;
    margin-bottom: 70px;
}

.partnersSubtitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    color: #2C2C2C;
}

.partnersList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 320px 320px;
    gap: 20px;
    list-style-type: none;
}

.partnersListItem {
    padding: 30px;
    border-radius: 20px;
    background: #F1F3F5;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.partnersListItem:nth-child(2),
.partnersListItem:nth-child(3) {
    background: #159F4A;
    color: white;
}

.partnersListItemTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
}

.partnersListItemInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: bottom;
    min-height: 122px;
    display: flex;
    align-items: end;
}

.partners .container:nth-child(2) {
    padding-bottom: 130px;
}

.partnersForm {
    padding-bottom: 130px;
    background: #084927;
    border-radius: 20px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.partnersFormLeft {
    max-width: 550px;
    color: white;
}

.partnersFormTitle {
    margin-bottom: 40px;
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
}

.partnersFormInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

.partnersFormRight {
    max-width: 680px;
    border-radius: 20px;
    background-color: white;
    padding: 40px;
    width: 100%;
}

.partnersFormRightUp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
}

.inputContainer {
    position: relative;
    grid-column: 1 / 3;
}

.partnersInput {
    width: 100%;
    border: 1px solid #BBC5D6;
    border-radius: 8px;
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 12px 16px 12px;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease;
}

.customPlaceholder {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #747B87;
    pointer-events: none;
    transition: all 0.3s ease;
    background: white;
    /* фон для перекрытия рамки */
    padding: 0 4px;
}

.customPlaceholder.active {
    top: 0;
    left: 12px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #2C2C2C;
    /* цвет активного лейбла, замените на нужный */
}

/* Стили для инпута с ошибкой */
.partnersInput.inputError {
    border-color: #F13A3A;
}

.partnersInput.inputError:focus {
    border-color: #F13A3A;
}

/* Сообщение об ошибке */
.errorMessage {
    margin-top: 4px;
    left: 0px;
    top: 100%;
    margin-top: 4px;
    font-family: Literata;
    font-size: 14px;
    line-height: 20px;
    color: #F13A3A;
    font-weight: 400;
}

.partnersInput:nth-child(3) {
    grid-column: 1 / 2;
}

.partnersInput:nth-child(4) {
    grid-column: 2 / 3;
}

.partnersFileBox {
    margin-bottom: 16px;
}

.partnersFileInput {
    display: none;
}

.partnersFileLabel {
    display: flex;
    padding: 14px 0;
    gap: 10px;
    align-items: start;
}

.partnersFileInputTitle {
    margin-bottom: 10px;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #2C2C2C;
}

.partnersFileInputInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #747B87;

}

.partnersFormSubmit {
    background: #159F4A;
    border-radius: 8px;
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    padding: 12px 24px 16px;
    border: none;
    margin-bottom: 16px;
}

.partnersPolicy {
    font-family: Literata;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;

}

.partnersPolicy a {
    color: #159F4A;
    text-decoration: underline;
}

.successModalContent2 {
    position: relative;
    max-width: 680px;
    width: 100%;
    max-height: 90vh;
    text-align: center;
}

.successModalInner2 {
    border-radius: 20px;
    background: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successModalTitle2 {
    font-family: Literata;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2C2C2C;
    margin-top: 10px;
    margin-bottom: 20px;
}

.successModalInfo2 {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2C2C2C;
    margin-bottom: 20px;
    text-align: left;
    align-self: start;
}

.successModalInfo2 span a {
    color: #159F4A;
}

.successModalInfo2:last-child {
    margin-bottom: 0;
}


@media (max-width: 1919px) {
    .partnersHeading {
        gap: 0;
    }

    .partnersTitle {
        white-space: nowrap;
    }

    .partnersForm {
        gap: 40px;
    }
}

@media (max-width: 1439px) {
    .partnersHeading {
        padding-top: 90px;
        margin-bottom: 110px;
    }

    .partnersSubtitle,
    .partnersFormTitle {
        font-size: 36px;
        line-height: 46px;
    }

    .partnersForm {
        flex-direction: column;
        gap: 60px;
    }

    .partnersFormLeft,
    .partnersFormRight,
    .successModalContent2 {
        max-width: 100%;
    }

    .partners .container:nth-child(2) {
        padding-bottom: 110px;
    }

    .partnersRight {
        margin-bottom: 50px;
    }

    .partnersList {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 426px);
        width: 100%;
    }

    .partnersListItemInfo {
        width: 100%;
        min-height: auto;
    }

    .successModalTitle2 {
        font-size: 28px;
        line-height: 34px;
    }

    .successModalTitle2 {
        margin-bottom: 32px;
    }
}

@media (max-width: 999px) {
    .partnersHeading {
        flex-direction: column;
    }

    .partnersSubtitle,
    .partnersFormTitle {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 40px;
    }

    .partnersSubtitle {
        margin-bottom: 0;
    }

    .partnersFormInfo {
        font-size: 16px;
        line-height: 24px;
    }

    .partnersForm {
        padding: 40px;
    }

    .partnersListItem {
        font-size: 24px;
        line-height: 32px;
    }

    .partnersListItemInfo {
        font-size: 16px;
        line-height: 22px;
    }

    .partnersList {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 260px);
    }
}

@media (max-width: 767px) {
    .partnersHeading {
        padding-top: 50px;
        margin-bottom: 70px;
    }

    .partnersSubtitle,
    .partnersFormTitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .partnersSubtitle {
        margin-bottom: 0;
    }

    .partners .container:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 70px;
    }

    .partnersForm {
        gap: 40px;
        padding: 20px 10px;
    }

    .partnersFormRight {
        padding: 20px;
    }

    .partnersFormLeft {
        padding: 0 10px;
    }

    .partnersFormRightUp {
        grid-template-columns: 1fr;

    }

    .partnersInput,
    .partnersInput:nth-child(4) {
        grid-column: 1 / 2;
    }

    .partnersFormSubmit {
        width: 100%;
    }

    .partnersRight {
        margin-bottom: 30px;
    }

    .partnersListSwiper {
        display: block;
    }

    .partnersListSwiper {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        /* Prevent overflow */
    }

    .partnersListSwiper .swiper-slide {
        width: 100% !important;
        /* Ensure each slide takes full container width */
        height: auto;
        /* Allow height to adjust based on content */
        display: flex;
        flex-direction: column;
    }

    .partnersListSwiper .partnersListItem {
        height: 432px;
        padding: 20px;
        box-sizing: border-box;
        justify-content: start;
        gap: 40px;
    }

    .partnersListItemTitle {
        font-size: 20px;
        line-height: 28px;
    }

    .swiperGreen .partnersListItem {
        background-color: #159F4A;
        color: white;
    }

    .successModalTitle2 {
        font-size: 24px;
        line-height: 32px;
    }

    .successModalInfo2 {
        font-size: 16px;
        line-height: 22px;
    }

    .successModalInner2 {
        padding: 20px;
    }
}

/* QUESTIONS */
.questionsUp {
    padding-top: 110px;
    border-top: 1px solid #BBC5D6;
}

.questionsTitle {
    font-family: Literata;
    font-size: 18px;
    color: #2C2C2C;
    padding-bottom: 8px;
    border-bottom: 1px solid #2C2C2C;
    margin-bottom: 20px;
    max-width: fit-content;
    font-weight: 500;
}

.questionsSubtitle {
    color: #2C2C2C;
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 70px;
}

.questionsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding-bottom: 130px;
}

.questionsItem {
    border-radius: 20px;
    background: #F1F3F5;
    padding: 30px;
}

.questionsItem:hover {
    cursor: pointer;
}

.questionsItemUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionsItemTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #2C2C2C;
}

.questionsItemSym path {
    stroke: #159F4A;
}

.questionsItemInfo {
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #2C2C2C;
    padding-top: 20px;
}

.questionsItemOpened {
    background-color: transparent;
    border: 1px solid #BBC5D6
}

/* PREFOOTER */

.preFooter {
    padding-bottom: 130px;
}

@media (max-width: 1439px) {

    .questionsUp {
        padding-top: 90px;
    }

    .questionsSubtitle {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 50px;
    }

    .questionsList {
        padding-bottom: 110px;
    }
}

@media (max-width: 999px) {
    .questionsSubtitle {
        font-size: 30px;
        line-height: 40px;
    }

    .questionsItemTitle {
        font-size: 20px;
        line-height: 28px;
    }

    .questionsTitle {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    .questionsUp {
        padding-top: 50px;
    }

    .questionsList {
        padding-bottom: 70px;
    }

    .questionsSubtitle {
        font-size: 24px;
        line-height: 32px;
    }

    .questionsItem {
        padding: 20px;
    }

    .questionsItemTitle {
        font-size: 20px;
        line-height: 28px;
    }

    .questionsItemInfo {
        font-size: 16px;
        line-height: 24px;
    }
}


.preFooterWrapper {
    padding-top: 130px;
    padding-bottom: 130px;
    border-top: 1px solid #BBC5D6;
    border-bottom: 1px solid #BBC5D6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.preFooterPartnerCard {
    background: #159F4A;
    border: 1px solid #BBC5D6;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    overflow: hidden;
    min-height: 330px;
}

.preFooterTopText {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    width: fit-content;
    z-index: 1;
}

.preFooterTitle {
    font-family: Literata;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    vertical-align: bottom;
}

.preFooterLink {
    align-items: end;
}

.preFooterPhoto {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Медиа-запросы */
@media (max-width: 1439px) {
    .preFooterPhoto {
        display: none;
    }

    .preFooterWrapper {
        grid-template-columns: 1fr;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .preFooterTitle {
        font-size: 36px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {

    .preFooter {
        padding-bottom: 70px;
    }

    .preFooterPhoto {
        display: flex;
        height: 100%;
    }

    .preFooterWrapper {
        gap: 10px;
        grid-template-rows: repeat(2, 1fr);
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .preFooterPartnerCard {
        min-height: 200px;
        padding: 20px;
    }

    .ripple {
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        z-index: 1;
        width: 40px;
        height: 40px;
    }

    .preFooterTitle {
        font-size: 24px;
        line-height: 32px;
    }
}

/* CLIENTS (дополнение) */
.partnerCard {
    background: #fff;
    border: 1px solid #BBC5D6;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: relative;
    overflow: hidden;
}

.partnerLink {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 2;
}

.arrowContainer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    width: 60px;
    height: 60px;
}