@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

@media (max-width: 1920px) {
    .container {
        padding-right: 60px;
        padding-left: 60px;
        max-width: 100%;
    }
}

@media (max-width: 1439px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 999px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}